.homepage {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.homepage-logo-container {
  margin-bottom: 2rem;
}

.homepage-logo {
  height: 340px;
  width: auto;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.homepage-links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
